{%  include "base_templates.html" %}
    <div class="container-fluid">
	<div class="row-fluid">
		<br class="span12">
		<table class="table table-striped">
  <caption style="text-align:center">上线列表</caption>

<thead>
      <tr>
         <th>上线时间</th>
         <th>操作</th>
      </tr>
   </thead>
    <tbody>
        {% for j in build_all %}
        <tr>
        <td>{{j.update}}</td>
        <td><span class="label label-primary hover deleteidc"><a href="/build_list_check/?update={{ j.update }}" style="color:white"  role="button">详情</a></span> </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>


        </br>
    </br>


		</div>
	</div>
</div>
