{%  extends "base.html" %}

   {% csrf_token %}
{% block content_centall %}



<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $("#datetime").datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
        });
    </script>

<form role="form" method="post" action="/add_build_list/">

     <table class="table table-striped">
  <caption style="text-align:center">添加构建系统系统</caption>
<thead>
      <tr>
         <th></th>
         <th></th>
         <th></th>
          <th></th>
          <th></th>
          <th></th>

      </tr>
   </thead>
    <tbody>
        {% for job in job_name %}

        <tr>
            {% for j in job %}
            <td><label><input type="checkbox" value="{{ j }}" name="build_group"  />{{ j }}</label></td>
        {% endfor %}
        </tr>

    {% endfor %}
    </tbody>
    </table>
    <br />

     <select class="form-control" name="project_env">
                        <option>pre</option>
                        <option>prod</option>
                    </select>
    <br />


    <p>日期：<input type='text' class="form-control" id='datetime' name="date"></p> <input type="submit" value="提交">


</form>
{% endblock %}